
header {
    /* height: 50px; */
    background-color: lightblue;
}

.tab {
    margin-left: 40px;
}

p {
    padding: 10px 40px;
}

#answers {
    text-align: center;
}

h1 {
    text-align: center;
}

.article {
    display: flex;
    justify-content: center;
}

.images {
    background-color: lightblue;
}

figcaption {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
